<div class="container">
  <header>
    <h1>Welcome to Life-Plus Hospital Management System</h1>
    <nav>
      <ul>
        <li><a routerLink="/patients" routerLinkActive="active">Patients</a></li>
        <li><a routerLink="/doctors" routerLinkActive="active">Doctors</a></li>
        <li><a routerLink="/appointments" routerLinkActive="active">Appointments</a></li>
      </ul>
    </nav>
  </header>
  
  <!-- Placeholder for displaying routed components -->
  <router-outlet></router-outlet>
</div>
